html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  font-family: "Hind Madurai", sans-serif;
  font: 10pt;
}

.sidebar-pane {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  text-align: justify;
}

p {
  color: rgb(49, 45, 45);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  text-align: justify;
  padding-right: 5%;
}

#query {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  padding: 1em;
}

#query select {
  font-size: 16pt;
}

.note {
  font-size: 10pt;
}
table {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid#dddddd;
  text-align: left;
  padding: 5px;
}
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cbe1f3;
}
img {
  float: left;
  font-family: verdana;
}
